h1 {
    margin: 10px 0px;
}

.foodList, .foodList2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.foodItemContainer {
    border: 1px solid red;
    margin: 10px 0px;
    padding: 0px 10px 10px 10px;
    width: 20%;
    line-height: 20px;
}

.foodList2 > .foodItemContainer { border: 1px solid blue; }